<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Carlos Schallenberger</title>
    </head>
    <body>
        <% @jobs.each do |job| %>
        <%= job.name %>
        <% end %>
    </body>
</html>
