<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Carlos Schallenberger</title>

        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <div class="Image">
        </div>

        <span class="Name">Carlos Shallenberger</span>

        <a href="/new-skill">Nova skill</a>
        <br>
        <a href="/all-skills">Ver skills</a>
        <br>
        <a href="/new-job">Novo job</a>
        <br>
        <a href="/all-jobs">Ver jobs</a>
    </body>
</html>
