<div class="Pokeball-red">




    <span class="Name">Carlos Schallenberger</span>

    <br>
</div>

<div class="Pokeball-center">
    <div class="Navbar-links">
        <a href="/new-skill">Nova skill</a>
    </div>
        <a href="/all-skills">Ver skills</a>

    <div class="Border-image">
        <div class="Image"></div>
    </div>

    <a href="/new-job">Novo job</a>
    <a href="/all-jobs">Ver jobs</a>
</div>

<div class="Pokeball-white">

</div>
