<div class="Pokeball-red">




    <span class="Name">Carlos Schallenberger</span>

    <br>
</div>

<div class="Pokeball-center">
        <a href="/new-skill" class="Navbar-links">Nova skill</a>
        <a href="/all-skills" class="Navbar-links">Ver skills</a>

    <div class="Border-image">
        <div class="Image"></div>
    </div>

    <a href="/new-job" class="Navbar-links">Novo job</a>
    <a href="/all-jobs" class="Navbar-links">Ver jobs</a>
</div>

<div class="Pokeball-white">

</div>
