<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Carlos Schallenberger</title>
    </head>
    <body>
        <h1>Hello, World!</h1>

        <a href="/skills">Nova skill</a>
        <br>
        <a href="/all-skills">Ver skills</a>
    </body>
</html>
