<div class="Pokeball-red bg-red">
    <!-- <span class="Name">Carlos Schallenberger</span> -->
    <div class="Name-png">

    </div>
</div>

<div class="Pokeball-center">
    <a href="/new-skill" class="Navbar-links">Nova skill</a>
    <a href="/all-skills" class="Navbar-links">Ver skills</a>

    <div class="Border-image">
        <div class="Image"></div>
    </div>

    <a href="/new-job" class="Navbar-links">Novo job</a>
    <a href="/all-jobs" class="Navbar-links">Ver jobs</a>
</div>

<div class="Pokeball-white bg-white">
    <div class="Cards">  <!-- pq bg-white é aqui? -->
        <div class="Card">
            <div class="Card-title">
                <h1>Aqui vai ser o título</h1>
            </div>
            <div class="Card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut dolor ipsum. Fusce pellentesque, velit eu dignissim congue, sapien risus eleifend justo, nec sagittis eros nisi sit amet enim. Nulla ullamcorper massa in nisi hendrerit eleifend semper ut dolor. Cras feugiat justo dolor, sed ornare tellus porta quis. Donec auctor erat eget odio maximus, ut consequat metus molestie. Vestibulum tellus diam, pharetra nec congue id, vestibulum id augue. Nunc vehicula laoreet ante et egestas. Etiam dictum urna et ex laoreet feugiat quis a magna. Morbi auctor in est ac scelerisque. Aliquam id nibh blandit, laoreet elit eget, tempus leo. In luctus egestas urna, eu pellentesque nisl mollis vel. Maecenas rutrum risus nec urna aliquam hendrerit. Aenean mollis eget enim sed fermentum. Vivamus sit amet metus leo. Vestibulum nec blandit leo. Ut blandit faucibus sodales.</p>
            </div>
        </div>
        <div class="Card">
            <div class="Card-title">
                <h1>Aqui vai ser o título</h1>
            </div>
            <div class="Card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut dolor ipsum. Fusce pellentesque, velit eu dignissim congue, sapien risus eleifend justo, nec sagittis eros nisi sit amet enim. Nulla ullamcorper massa in nisi hendrerit eleifend semper ut dolor. Cras feugiat justo dolor, sed ornare tellus porta quis. Donec auctor erat eget odio maximus, ut consequat metus molestie. Vestibulum tellus diam, pharetra nec congue id, vestibulum id augue. Nunc vehicula laoreet ante et egestas. Etiam dictum urna et ex laoreet feugiat quis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut dolor ipsum. Fusce pellentesque, velit eu dignissim congue, sapien risus eleifend justo, nec sagittis eros nisi sit amet enim. Nulla ullamcorper massa in nisi hendrerit eleifend semper ut dolor. Cras feugiat justo dolor, sed ornare tellus porta quis. Donec auctor erat eget odio maximus, ut consequat metus molestie. Vestibulum tellus diam, pharetra nec congue id, vestibulum id augue. Nunc vehicula laoreet ante et egestas. Etiam dictum urna et ex laoreet feugiat quis a magna. MorLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut dolor ipsum. Fusce pellentesque, velit eu dignissim congue, sapien risus eleifend justo, nec sagittis eros nisi sit amet enim. Nulla ullamcorper massa in nisi hendrerit eleifend semper ut dolor. Cras feugiat justo dolor, sed ornare tellus porta quis. Donec auctor erat eget odio maximus, ut consequat metus molestie. Vestibulum tellus diam, pharetra nec congue id, vestibulum id augue. Nunc vehicula laoreet ante et egestas. Etiam dictum urna et ex laoreet feugiat quis a magna. Mor magna. Morbi auctor in est ac scelerisque. Aliquam id nibh blandit, laoreet elit eget, tempus leo. In luctus egestas urna, eu pellentesque nisl mollis vel. Maecenas rutrum risus nec urna aliquam hendrerit. Aenean mollis eget enim sed fermentum. Vivamus sit amet metus leo. Vestibulum nec blandit leo. Ut blandit faucibus sodales.</p>
            </div>
        </div>
    </div>

</div>

<div class="Footer">

</div>
