<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Carlos Schallenberger</title>
        <link rel="stylesheet" href="stylesheets/index.css">
    </head>
    <body>
        <%= yield %>
    </body>
</html>
