<h1>Nova skill</h1>

<form action="new" method="post" name="skill">
    <label>Nome da competência: </label>
    <input type="text" name="skill[name]">

    <label>Descrição: </label>
    <input type="text" name="skill[description]">

    <input type="submit" value="Salvar">
</form>

<a href="/">Voltar</a>
