<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Carlos Schallenberger</title>
    </head>
    <body>
        <h1>Nova skill</h1>
        <% @skills.each do |skill| %>
        <%= skill.name %>
        <% end %>
    </body>
</html>
